/*
*,
*::before,
*::after {
  box-sizing: border-box;
}*/

.burger{
    display: none;
}

.menu {
    position: fixed; /* Change position to fixed */
    right: -100px;
    top: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
}

  
label .hamburger {
    position: absolute;
    top: 135px;
    left: 50px;
    width: 30px;
    height: 2px;
    background: rgb(167, 65, 65);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
  
label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(167, 65, 65);
}
  
label .hamburger:before { top: -10px; }
  
label .hamburger:after { bottom: -10px; }
  
label input { display: none; }
  
label input:checked + .menu {
    box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
    border-radius: 0;
    
}
  
  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
}
  
label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
}
  
label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}
  
label input:checked + .menu + ul { opacity: 1; }
  
label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
}

label a {
    margin-bottom: 1em;
    display: block;
    color: rgb(167, 65, 65);
    text-decoration: none;
    
}

select {
    /* A reset of styles, including removing the default dropdown arrow*/
    /*appearance: none;*/
    /* Additional resets for further consistency*/
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }

html, body {
    min-height: 100%; 
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

aside {    
    background: none;
    background-size: cover;
    min-height: 100px;
    height: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
}

header {
    position: relative;
    background: url("img/supermarket.jpg") center;
    
    top: inherit;
    left: inherit;
    display: inline-block;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
}

#icons {
    position: relative;    
    margin-left: 50px;
    margin-top: 30px;
    width: 110px;
    height: 40px;
    background: white;
    padding: 5px;
    border-radius: 10px;
}

#header-links {    
    margin-right: 50px;
    margin-top: 30px;
    
    border-radius: 10px;
    background: rgba(0,0,0,0.6);    
    color: white;
}

#header-links > a {
    text-decoration: none;
    margin: 0 20px 0 20px;
}

#header-links > a > span {
    color: white;
}



#p-logo {    
    position: relative;
    left: 0;
    top: 0;
    margin: auto;
}

#p-label {
    position: absolute;
    left: 40px;
    top: 20px;
}

header h3 {
    position: relative;
    min-width: 100px;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;

    border-radius: 10px;
    background: rgba(0,0,0,0.6);    
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

article {
    position: relative;
    top: inherit;
    left: inherit;
    width: 80%;
    margin: 0px auto;
    padding: 20px;
}

h3 {
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

button {
    position: inherit;
    right: inherit;
    top: inherit;
    height: inherit;
    width: inherit;
    background: inherit;
    border: inherit;
    padding: inherit;
    background: inherit;
}

button:hover {
    background-image: none;
}

.order-by-container {
    width: 75px;
    position: absolute;
    top: 0;
    right: -100px;
}

.order-by-container .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #FFF;
    color: #4066a5;
    text-align: center;
    border: 1px solid #4066a5;
    border-radius: 6px;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    top: -10px;
    left: 75px;
    z-index: 1;
  }
  
  .order-by-container:hover .tooltiptext {
    visibility: visible;
  }

.form-control {
    max-height: 40px;
    height: 10vw;
    max-width: 300px;
    width: 25vw;
    padding-left: 10px;
    margin: 0px auto;
    
    font-family: Arial;
    font-size: 16px;
    line-height: 28px;
    box-sizing: border-box;
}

.input-group-button {
    display: inline-block;
    width: 60px;
}

.search-button {
    box-sizing: border-box;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    color: #4066a5;
    border: 1px solid #4066a5;
    border-radius: 5px;
}

.search-button:hover, .search-button:focus {
    background-color: rgba(64, 102, 165, 0.2);    
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    cursor: pointer;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
}

#categories select {
    width: 200px;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(3) {
    width: 30%;
}

thead th:nth-child(4) {
    width: 10%;
}
    
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #E3E3E4;
}
    
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #E3E3E4;
    background-color: rgba(79, 226, 79, 0.75);
}
    
.table tbody + tbody {
    border-top: 2px solid #E3E3E4;
}

.datetime {
    text-align: center;
}

.sorting-choice {
    position: relative;
}

.sorting-choice > label {
    padding: 5px 30%;
}

.sorting-by {
    display: inline-block;
    position: absolute;
    right: 20px;
}

.delete-form {
    text-align: center;
    margin: auto 0px 20px 0;
}

.delete-button {
    border: 1px solid red;
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: auto 5px;
    border: 1px solid #4066a5;
    border-radius: 5px;
}

.delete-button:hover {
    cursor: pointer;
    background-color: rgba(64, 102, 165, 0.2);    
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
}

.last-row{
    display: flex;
    gap: 5px;
}

.last-row-text{
    display: none;
}

@media screen and (max-width:500px) {
    form{
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    #icons {
        position: fixed;
        left: 5px;
        top: 10px;
        margin-top: 0;
        width: 34px;
    }

    .last-row-text{
        display: block;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .burger{
        display: block;
    }

    header{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    #icons {
        margin-left: 0px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px; /* Add spacing between tables */
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
        padding: 8px;
        text-align: left;
    }
    
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    
    /* Hide table header cells */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    /* Add border between rows on small screens */
    tbody tr {
        border: 1px solid #ccc;
        margin-bottom: 10px; /* Add spacing between rows */
    }
    
    /* Display table cells as block elements for stacking */
    td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 50%; /* Add space for the pseudo before */
    }
    
    /* Style pseudo elements for label */
    td::before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; /* Adjust width as needed */
        padding-right: 10px; /* Add space between label and content */
        white-space: nowrap;
        content: attr(data-label); /* Display content from data-label attribute */
        font-weight: bold;
    }

}
